include ../parts/head1
title posts - #{siteName}
style.
	.preview-wrap {
		border: 1px dotted #aaa;
		padding: 8px;
	}
include ../parts/head2
#wrapper
	include ../parts/editor-buttons
	include ../parts/post-file
	include ../parts/loading
	#content.container-fluid(v-cloak)

		.row

			//left-panel
			include ../parts/left-panel

			//main
			#main.col-sm-8.col-md-8.col-lg-9

				.main-content.p-x-2
					include ../parts/nav
					h1 posts
					hr

					ul.nav.nav-tabs
						li.nav-item.m-l-1
							a.nav-link(href='#list', @click.prevent='setTab("list")', :class='{ "active": tab === "list" }')
								|list
								span.text-danger ({{total}})
						li.nav-item
							a.nav-link(href='#new', @click.prevent='setTab("new")', :class='{ "active": tab === "new" }') new

					.tab-contents
						.tab-content(v-show='tab === "list"')
							.p-y-1
							h2 list
							hr
							form(name='form1', @submit.prevent='getList()', novalidate, v-form)

								.form-group
									label title
									input.form-control(name='title', v-form-ctrl, v-model='formData1.title', placeholder='search post title')

								.form-group
									select.form-control(name='catId', v-form-ctrl, v-model='formData1.catId')
										option(v-for='cat in catsOptions', value='{{cat._id}}') {{cat.name}}

								.form-group
									.btn-group.btn-group-small
										button.btn(@click='set("formData1.published", "")', :class='{ "btn-secondary": formData1.published !== "", "btn-primary": formData1.published === ""}') all
										button.btn(@click='set("formData1.published", true)', :class='{ "btn-secondary": formData1.published !== true, "btn-primary": formData1.published === true}') published
										button.btn(@click='set("formData1.published", false)', :class='{ "btn-secondary": formData1.published !== false, "btn-primary": formData1.published === false}') unpublished

								.form-group
									#msg1
									button.btn.btn-primary(type='submit')
										span(v-show='!onSubmit1') search
										span(v-show='onSubmit1')
											include ../parts/spin
											|logining...

							hr
							div(v-show='total > formData1.pageSize')
								zpagenav(:page.sync='formData1.page', :page-size.sync='formData1.pageSize', :total.sync='total', :max-link.sync='formData1.maxLink')
							#msg3
							ul.list-group.post-list
								li.list-group-item(v-for='item in list')
									div(v-show='currentEditItem._id !== item._id')
										p
											span.small.label.label-success.m-r-1(v-show='item.published') published
											a.post-link(:href='createUrl(item)', target='_blank') {{item.title}} 
											small.post-cats
												span.small in:
												span {{renderItemCats(item)}}
											span.pull-xs-right
												button.btn.btn-sm.m-r-1.toggle-publish(@click='publish(item ,$index)', :class='{ "btn-info": item.published, "btn-success": !item.published}')
													span(v-show='item.published') unpublish
													span(v-show='!item.published') publish

										p.small(v-show='item.desc') {{item.desc}}
										#msg-item(v-if='currentEditItem._id === item._id || currentDelItem._id === item._id')
										div.btns(v-show='checkShow(item)')

											.btn-group.btn-group-sm(v-show='state !== "del"')
												button.btn.btn-primary(@click='edit(item, $index)')
													span(v-show='!onloadPost') edit
													span(v-show='onloadPost') loading...
												button.btn.btn-warning(@click='del(item)') delete
											.btn-group.btn-group-sm(v-show='state === "del"')
												button.btn.btn-danger(@click='delConfirm(item, $index)')
													span(v-show='onDel') deleting...
													span(v-show='!onDel') confirm delete
												button.btn.btn-secondary(@click='cancel(item)') cancel

									div(v-if='currentEditItem._id === item._id')
										form(name='form3', @submit.prevent='update()', novalidate, v-form)

											.form-group
												label <span class="text-danger">*</span> title
												input.form-control(type='text', name='title', v-form-ctrl, v-model='formData3.title', placeholder='title', maxlength=50, required)
												div(v-show='form3.title.$dirty && form3.title.$invalid')
													.alert.alert-danger(v-show='form3.title.$error.required') required
													.alert.alert-danger(v-else='form3.title.$error.maxlength') more than 50 chars

											.form-group
												label description
												textarea.form-control(type='text', rows=3, name='desc', v-form-ctrl, v-model='formData3.desc', placeholder='category description', maxlength=500)
												div(v-show='form3.desc.$dirty && form3.desc.$invalid')
													.alert.alert-danger(v-show='form3.desc.$error.maxlength') more than 500 chars

											.form-group
												label slug(<mark>a-z</mark>, <mark>A-Z</mark>, <mark>1-9</mark>, <mark>-</mark> only)
												input.form-control(type='text', name='slug', v-form-ctrl, v-model='formData3.slug', placeholder='post slug', pattern='([a-zA-Z0-9\\-]{1,100})?', required)
												div(v-show='form3.slug.$dirty && form3.slug.$invalid')
													.alert.alert-danger(v-show='form3.slug.$error.required') required
													.alert.alert-danger(v-else='form3.slug.$error.pattern') <mark>a-z</mark>, <mark>A-Z</mark>, <mark>1-9</mark>, <mark>-</mark> only

											.form-group
												label tags(seprated by <mark>,</mark>)
												input.form-control(type='text', rows=3, name='tags', v-form-ctrl, v-model='formData3.tags', placeholder='tags', maxlength=100)
												div(v-show='form3.tags.$dirty && form3.tags.$invalid')
													.alert.alert-danger(v-show='form3.tags.$error.maxlength') more than 100 chars

											+postFile(3)

											.form-group
												label category
												p(v-show='onloadCats') loading...
												.cats
													
													button.cat.btn.btn-sm.m-r-1.m-b-1(type='button', v-for='cat in cats', :class='{ "btn-primary": inCats(cat, formData3.cats), "btn-secondary": !inCats(cat, formData3.cats) }', @click='toggleCat(cat, formData3.cats)') {{cat.name}}

											p
												a.toggle-more(href='#', @click.prevent='toggleShowMore(3)')
													span(v-show='showMoreOption3') hide more option
													span(v-show='!showMoreOption3') show more option

											.more(v-show='showMoreOption3')

												.form-group.style-control
													label
														|stylus 
														a(href='http://styleus-lang.com/', target='_blank', title='what is styleus')
															span.icon !{icons['help-circled']}
													div(name='style', v-form-ctrl='formData3.style', maxlength=5000)
														jadeeditor(:content.sync='formData3.style', :rows='rows', :id='editor3style')
													div(v-show='form3.style.$dirty && form3.style.$invalid')
														.alert.alert-danger(v-show='form3.style.$error.maxlength') more than 5000 chars
													.p-y-1
														button.btn.btn-warning.btn-sm.validate-style(type='button', @click='validateStyle(3)')
															span(v-show='!onValidateStyle3') validate css
															span(v-show='onValidateStyle3') validating...

														span.style-control-msg(v-show='validateStyleMsg3.hasResult')
															span.text-success(v-show='validateStyleMsg3.pass')
																span.icon !{icons['ok-circled']}
															span.text-danger(v-show='!validateStyleMsg3.pass')
																span.icon !{icons['cancel-circled']}
																span {{validateStyleMsg3.msg}}

												.form-group
													label js
													div(name='script', v-form-ctrl='formData3.script', maxlength=5000)
														jadeeditor(:content.sync='formData3.script', :rows='rows', :id='editor3js')
													div(v-show='form3.script.$dirty && form3.script.$invalid')
														.alert.alert-danger(v-show='form3.script.$error.maxlength') more than 5000 chars

											.form-group
												#msg31
												.btn-group.btn-group-sm
													button.btn.btn-primary(type='submit')
														span(v-show='!onSubmit3') update
														span(v-show='onSubmit3')
															include ../parts/spin
															|updating...

													button.btn.btn-danger.btn-cancel-edit(type='button', @click='cancelEdit(item)') Cancel

							div(v-show='total > formData1.pageSize')
								zpagenav(:page.sync='formData1.page', :page-size.sync='formData1.pageSize', :total.sync='total', :max-link.sync='formData1.maxLink')

						.tab-content(v-show='tab === "new"')
							.p-y-1
							h2 new post
							hr
							form(name='form2', @submit.prevent='add()', novalidate, v-form, hook='formHook2')

								.form-group
									label <span class="text-danger">*</span> title
									input.form-control(type='text', name='title', v-form-ctrl, v-model='formData2.title', placeholder='title', maxlength=50, required)
									div(v-show='form2.title.$dirty && form2.title.$invalid')
										.alert.alert-danger(v-show='form2.title.$error.required') required
										.alert.alert-danger(v-else='form2.title.$error.maxlength') more than 50 chars

								.form-group
									button.btn.publish-control(type='button', @click='set("formData2.published", !formData2.published)', :class='{ "btn-muted": !formData2.published, "btn-primary": formData2.published}') publish right away
	

								.form-group
									label description
									textarea.form-control(type='text', rows=3, name='desc', v-form-ctrl, v-model='formData2.desc', placeholder='category description', maxlength=500)
									div(v-show='form2.desc.$dirty && form2.desc.$invalid')
										.alert.alert-danger(v-show='form2.desc.$error.maxlength') more than 500 chars

								.form-group
									label slug(<mark>a-z</mark>, <mark>A-Z</mark>, <mark>1-9</mark>, <mark>-</mark> only)
									input.form-control(type='text', name='slug', v-form-ctrl, v-model='formData2.slug', placeholder='post slug', pattern='([a-zA-Z0-9\\-]{1,100})?')
									div(v-show='form2.slug.$dirty && form2.slug.$invalid')
										.alert.alert-danger(v-show='form2.slug.$error.pattern') <mark>a-z</mark>, <mark>A-Z</mark>, <mark>1-9</mark>, <mark>-</mark> only

								.form-group
									label tags(seprated by <mark>,</mark>)
									input.form-control(type='text', rows=3, name='tags', v-form-ctrl, v-model='formData2.tags', placeholder='tags', maxlength=100)
									div(v-show='form2.tags.$dirty && form2.tags.$invalid')
										.alert.alert-danger(v-show='form2.tags.$error.maxlength') more than 100 chars

								+postFile(2)

								.form-group
									label category
									.cats
										p(v-show='onloadCats') loading...
										button.cat.btn.btn-sm.m-r-1.m-b-1(type='button', v-for='cat in cats', :class='{ "btn-primary": inCats(cat, formData2.cats), "btn-secondary": !inCats(cat, formData2.cats) }', @click='toggleCat(cat, formData2.cats)') {{cat.name}}

								p
									a.toggle-more(href='#', @click.prevent='toggleShowMore(2)')
										span(v-show='showMoreOption2') hide more option
										span(v-show='!showMoreOption2') show more option

								.more(v-show='showMoreOption2')

									.form-group.style-control
										label
											|stylus 
											a(href='http://styleus-lang.com/', target='_blank', title='what is styleus')
												span.icon !{icons['help-circled']}
										div(name='style', v-form-ctrl='formData2.style', maxlength=5000)
											jadeeditor(:content.sync='formData2.style', :rows='rows', :id='editor3style')
										div(v-show='form2.style.$dirty && form2.style.$invalid')
											.alert.alert-danger(v-show='form2.style.$error.maxlength') more than 5000 chars
										.p-y-1
											button.btn.btn-warning.btn-sm.validate-style(type='button', @click='validateStyle(2)')
												span(v-show='!onValidateStyle2') validate css
												span(v-show='onValidateStyle2') validating...

											span.style-control-msg(v-show='validateStyleMsg2.hasResult')
												span.text-success(v-show='validateStyleMsg2.pass')
													span.icon !{icons['ok-circled']}
												span.text-danger(v-show='!validateStyleMsg2.pass')
													span.icon !{icons['cancel-circled']}
													span {{validateStyleMsg2.msg}}

									.form-group.js-control
										label js
										div(name='script', v-form-ctrl='formData2.script', maxlength=5000)
											jadeeditor(:content.sync='formData2.script', :rows='rows', :id='editor3js')
										div(v-show='form2.script.$dirty && form2.script.$invalid')
											.alert.alert-danger(v-show='form2.script.$error.maxlength') more than 5000 chars

								.form-group
									#msg2
									button.btn.btn-primary(type='submit')
										span(v-show='!onSubmit2') submit
										span(v-show='onSubmit2')
											include ../parts/spin
											|submitting...

					include ../parts/footer-html

include ../parts/footer-js
script.
	//todo add cats links, tag links...
	(function() {
		window.h5.routes = {}
		window.h5.routes.post = '#{publicRoute.post}'
		window.h5.access = !{JSON.stringify(user.group.access)}
		var exports = {}
		exports.replace = !{serialize(replace)}
		window.h5.createUrl = !{serialize(createUrl)}
	}())

script(src='#{cdn}/_bc/browser-md5-file/dist/browser-md5-file.min.js')
script(src='#{cdn}/_bc/blueimp-file-upload/js/vendor/jquery.ui.widget.js')
script(src='#{cdn}/_bc/blueimp-file-upload/js/jquery.fileupload.js')
script(src='#{cdn}/_bc/vue-pagenav/dist/vue-pagenav#{tail1}.js')
script(src='#{cdn}/_bc/vue-jade-editor/dist/vue-jade-editor#{tail1}.js')

script(src='#{cdn}/js/post#{tail2}.js?#{version}')
include ../parts/footer-end