mixin postFile(fid)

	- var eid = 'editor' + fid + 'html'
	.form-group

		label
			|content( jade(pug) template
			a(href='http://jade-lang.com/', target='_blank', title='what is jade(pug)')
				span.icon-help-circled
			|)

		div(class='files-control#{fid}')

			div(id='file-err#{fid}')

			.card.bg-info.card-inverse.card-warning.featured-file(v-show='formData#{fid}.featuredFile._id')
				.card-block 
					.small
						|{{formData#{fid}.featuredFile._id}}.{{formData#{fid}.featuredFile.ext}}
						span.label.label-default featured
						a.pull-xs-right.text-muted.unset-featured(title='unset featured file', href='#', @click.prevent='unsetFeatured(formData#{fid})')
							i.icon-cancel-circled
					.img(v-if='isImg(formData#{fid}.featuredFile)')
						a(:href='createImgSrc(formData#{fid}.featuredFile)', target='_blank')
							img(:src='createImgSrc(formData#{fid}.featuredFile)', alt='formData#{fid}.featuredFile.filename', height=30)

			ul.nav.nav-tabs
				li.nav-item.m-l-1
					a.nav-link(href='#file-upload', @click.prevent='setFileTab("file-upload")', :class='{ "active": fileTab === "file-upload" }')
						|upload file
						span.text-danger ({{formData#{fid}.files.length}})
				li.nav-item
					a.nav-link(href='#file-list', @click.prevent='setFileTab("file-list")', :class='{ "active": fileTab === "file-list" }')
						|select file
						span.text-danger ({{filesTotal}})

			.tab-contents.p-y-1
				.tab-content(v-show='fileTab === "file-upload"')

					p
						label.file
							input(type='file', id='file#{fid}', multiple)
							span.file-custom
						span.label.label-success(v-show='uploadProgress > 0 && uploadProgress < 100') {{uploadProgress}}/100

					ul.list-group.files-list1
						li.list-group-item(v-for='f in formData#{fid}.files')
							.small

								|{{f._id}}.{{f.ext}}

								span.label.label-default(v-show='f._id === formData#{fid}.featuredFile._id') featured

								a.m-x-1(href='#', @click.prevent='remove(f, formData#{fid}.files)')
									i.icon-cancel-circled
									span delete

								a.m-x-1.insert-file(href='#', @click.prevent='insertFile(f, "#{eid}")')
									span insert

								a.m-x-1.set-file(href='#', @click.prevent='setAsFeatured(f, formData#{fid})')
									i.icon-paper-plane
									span set as featured

							.img(v-if='isImg(f)')
								a(:href='createImgSrc(f)', target='_blank')
									img(:src='createImgSrc(f)', alt='f.filename', height=30)

				.tab-content(v-show='fileTab === "file-list"')
					div(id='msgf#{fid}')
					.form-group
						.input-group
							input.form-control(type='text', v-model='formDataf.name', @change='getFiles()', debounce=500)
							span.input-group-btn
								button.btn.btn-secondary(type='button', @click='getFiles()')
									span(v-show='!onloadFiles') search
									span(v-show='onloadFiles') loading...

					div(v-show='filesTotal > formDataf.pageSize')
						zpagenav(:page.sync='formDataf.page', :page-size='formDataf.pageSize', :total='filesTotal', :max-link='formDataf.maxLink')

					ul.list-group.files-list2
						li.list-group-item(v-for='f in files')
							.small

								|{{f._id}}.{{f.ext}}

								span.label.label-default(v-show='f._id === formData#{fid}.featuredFile._id') featured

								a.m-x-1.insert-file(href='#', @click.prevent='insertFile(f, "#{eid}")')
									span insert

								a.m-x-1.set-file(href='#', @click.prevent='setAsFeatured(f, formData#{fid})')
									i.icon-paper-plane
									span set as featured

							.img(v-if='isImg(f)')
								a(:href='createImgSrc(f)', target='_blank')
									img(:src='createImgSrc(f)', alt='f.filename', height=30)

					div(v-show='filesTotal > formDataf.pageSize')
						zpagenav(:page.sync='formDataf.page', :page-size='formDataf.pageSize', :total='filesTotal', :max-link='formDataf.maxLink')

		div(name='content', v-form-ctrl='formData#{fid}.content', maxlength=10000)
	
			+editorButtons(eid)
			jadeeditor(:content.sync='formData#{fid}.content', :rows='rows', :id='editor#{fid}html', v-show='!#{eid}OnPreview')
			.preview-wrap(v-show='#{eid}OnPreview')
				p(v-show='#{eid}OnLoad') loading...
				div(v-show='!#{eid}OnLoad', id='#{eid}-preview')

			include editor-tip
		div(v-show='form#{fid}.content.$dirty && form#{fid}.content.$invalid')
			.alert.alert-danger(v-show='form#{fid}.content.$error.maxlength') more than 10000 chars