include ../parts/head1
meta(name='description', content='#{siteDesc}')
meta(name='keywords', content='#{siteKeywords}')
title reset password - #{siteName}
style.
	.container {
		max-width: 600px;
	}
include ../parts/head2
#wrapper
	include ../parts/loading
	#content.container(v-cloak)

		.p-y-3
		h1.h3 reset password
		p.small input your email and submit, jadepress will send a email to your email address, follow the email's instruction you will be able to reset your password.
		hr.m-b-2
		form(name='form1', @submit.prevent='update()', novalidate, v-form, hook='formHook')

			.form-group
				label email
				input.form-control(type='email', name='email', v-form-ctrl, v-model='formData1.email', required, autofocus)
				div(v-show='form1.email.$dirty && form1.email.$invalid')
					.alert.alert-danger(v-show='form1.email.$error.required') required
					.alert.alert-danger(v-else='form1.email.$error.customValidator') not valid email

			.form-group
				p
					i.iblock(v-html='captchaHtml', @click='refreshCaptcha()')
					a.m-l-1(href='#', @click.prevent='refreshCaptcha()') refresh
				label captcha
				input.form-control(placeholder='captcha', v-form-ctrl, name='captcha', type='text', v-model='formData1.captcha', required, maxlength=6)
				div(v-show='form1.captcha.$dirty && form1.captcha.$invalid')
					.alert.alert-danger(v-show='form1.captcha.$error.required') required
					.alert.alert-danger(v-show='form1.captcha.$error.maxlength') too long
	
			.form-group
				#msg2
				button.btn.btn-primary(type='submit')
					span(v-show='!onSubmit1') submit
					span(v-show='onSubmit1') submitting...
				a.pull-xs-right.btn.btn-link(href='#{host}/login') login

		include ../parts/footer-html

include ../parts/footer-js
	
script(src='#{cdn}/js/reset-password-request#{tail2}.js?#{version}')

include ../parts/footer-end