include ../parts/head1
meta(name='description', content='#{siteDesc}')
meta(name='keywords', content='#{siteKeywords}')
title reset password - #{siteName}
style.
	.container {
		max-width: 600px;
	}
include ../parts/head2
#wrapper
	include ../parts/loading
	#content.container(v-cloak)

		.p-y-3
		h1.h3 reset password
		hr.m-b-2
		form(name='form1', @submit.prevent='update()', novalidate, v-form, hook='formHook')

			.form-group
				label new password
				input.form-control(type='password', name='password', v-form-ctrl, v-model='formData1.password', placeholder='new password', custom-validator='pass', required)
				div(v-show='form1.password.$dirty && form1.password.$invalid')
					.alert.alert-danger(v-show='form1.password.$error.required') required
					.alert.alert-danger(v-else='form1.password.$error.custom') 6-16 chars, must have digit and English chars

			.form-group
				label repeat new password
				input.form-control(type='password', name='password1', v-form-ctrl, v-model='formData1.password1', placeholder='repeat new password', custom-validator='checkPass', required)
				div(v-show='form1.password1.$dirty && form1.password1.$invalid')
					.alert.alert-danger(v-show='form1.password1.$error.required') required
					.alert.alert-danger(v-else='form1.password1.$error.custom') not match
	
			.form-group
				#msg2
				button.btn.btn-primary(type='submit')
					span(v-show='!onSubmit') submit
					span(v-show='onSubmit') submitting...

		include ../parts/footer-html

include ../parts/footer-js
script.
	h5.resetPassword = '#{resetPassword._id}'
	
script(src='#{cdn}/js/reset-password#{tail2}.js?#{version}')

include ../parts/footer-end